@{
    ViewBag.Title = "Bind ASP.NET MVC Dropdownlist with static values - dotnetmentors.com";
}

<h1>Bind ASP.NET MVC Dropdownlist with static values - dotnetmentors.com</h1>

@Html.DropDownList("Category", new List<SelectListItem>()
    {
        new SelectListItem() { Text= "Beverages", Value = "1" },
        new SelectListItem() { Text= "Condiments", Value = "2" },
        new SelectListItem() { Text= "Confections", Value = "3" },
        new SelectListItem() { Text= "Dairy Products", Value = "4" },
        new SelectListItem() { Text= "Grains/Cereals", Value = "5" },
        new SelectListItem() { Text= "Meat/Poultry", Value = "6" },
        new SelectListItem() { Text= "Produce", Value = "7" },
        new SelectListItem() { Text= "Seafood", Value = "8" }
    }, "Select Category")
